{% extends 'base.html.twig' %}
{% block title %}geg{% endblock %}
{% block body %}
<ul>
    {% for el in object %}
         <a href="{{path('CarDetail',{id:el.id})}}">
            <li>
                {{ el.name }}
            </li>
            </a>
    {% endfor %}
</ul>
{{ knp_pagination_render(object) }}
{% endblock %}